files:
  "/etc/php.d/98_zip.ini":
    mode: "000644"
    owner: root
    group: root
    content: |
      extension=zip.so
commands:
  01_remove_old_config:
    command: "rm -f /etc/php.d/98_zip.ini.bak"
  02_install_stuff:
    command: "dnf -y install libzip libzip-devel"
  03_install_more_stuff:
    command: "pecl install zip"