files:
    "/etc/php.d/99_imagick.ini":
        mode: "000644"
        owner: root
        group: root
        content: |
            extension=imagick.so
commands:
    01_remove_old_config:
        command: "rm -f /etc/php.d/99_imagick.ini.bak"
    02_check_install_imagemagick:
        command: "if ! command -v convert &> /dev/null; then sudo yum install -y ImageMagick ImageMagick-devel; fi"
    03_check_install_imagick_extension:
        command: |
            if ! php -m | grep -q 'imagick'; then
                echo "Imagick extension is not installed."
                pecl install imagick || true
                echo "Imagick installation result: $?"
                php -m | grep 'imagick' || echo "Imagick extension is still not enabled in PHP."
            fi