container_commands:
    01-no_dev:
        command: "/bin/sh -c '/usr/bin/composer.phar install --optimize-autoloader' || true"
    02-config_clear:
        command: "/bin/sh -c 'php artisan config:clear' || true"
    03-view_clear:
        command: "/bin/sh -c 'php artisan view:clear' || true"
    04-route_cache:
        command: "/bin/sh -c 'php artisan route:cache' || true"
    05-view_cache:
        command: "/bin/sh -c 'php artisan view:cache' || true"
    06-chmod_storage:
        command: "/bin/sh -c 'chmod 775 storage -R' || true"
    07-chmod_bootstrap:
        command: "/bin/sh -c 'chmod 775 bootstrap -R' || true"
    08-migrate:
        command: "/bin/sh -c 'php artisan migrate --force' || true"
    09-link:
        command: "/bin/sh -c 'php artisan storage:link' || true"
    10-seeders:
        command: "/bin/sh -c 'php artisan db:seed --force' || true"
    11-npm:
        command: "/bin/sh -c 'npm install' || true"
    12-npm_dependencies:
        command: "/bin/sh -c 'npm run build' || true"

files:
    /opt/elasticbeanstalk/tasks/taillogs.d/laravel-logs.conf:
        content: /var/app/current/storage/logs/laravel.log
        group: root
        mode: "000755"
        owner: root
