container_commands:
    01-no_dev:
        command: "/bin/sh -c '/usr/bin/composer.phar install --optimize-autoloader' || true"
    02-migrate:
        command: "/bin/sh -c 'php artisan migrate --force' || true"
    03-seeders:
        command: "/bin/sh -c 'php artisan db:seed --force' || true"
    04-npm:
        command: "/bin/sh -c 'npm install' || true"
    05-npm_dependencies:
        command: "/bin/sh -c 'npm run build' || true"

files:
    /opt/elasticbeanstalk/tasks/taillogs.d/laravel-logs.conf:
        content: /var/app/current/storage/logs/laravel.log
        group: root
        mode: "000755"
        owner: root
